node_modules

# testing
coverage

# production
build

# CRA dotfile local overrides. All others (".env", ".env.${environment}") should be checked in.
.env*.local

.DS_Store

# binary debugging output, core dumps, etc.
dump
